<header>
    <a href="/">
        <img src="/images/eforp_logo_long_white.png" alt="Electricity for Progress" width="600">
    </a>
</header>

<nav>
    <a href="/" class="nav-logo">
        <img src="/images/eforp_logo_003.svg" alt="Electricity for Progress Icon">
    </a>
    
    <div class="dropdown">
        <a href="/">Biodata Sonification</a>
        <div class="dropdown-content">
            <a href="https://github.com/electricityforprogress/BiodataFeather" target="_blank" rel="noreferrer noopener">GitHub (Biofeather)</a>
            <a href="https://docs.google.com/presentation/d/e/2PACX-1vQv2lf3BtgonvkuruCsEbNgXGyKHLv037CAQ4u2NWHtBqVPHp6yxi93E4WfXM578tWJ4q-WRs86Cgee/pub?start=false&loop=false&delayms=3000" target="_blank" rel="noreferrer noopener">ESP32-S3 Breadboard Kit Instructions</a>
        </div>
    </div>
    <a href="/circuit-bending/">Circuit Bending</a>
    <a href="/synth/">Bio-Synth</a>
    <a href="/workshops/">Workshops</a>
    <a href="https://electricityforprogress.square.site/">Store</a>
</nav>
